/* Global Styles and variables */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkblue: #1f2937;
  --white: #f9faf8;
  --lightgrey: #e5e7eb;
}

body {
  font-family: "roboto", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header, footer {
  background-color: var(--darkblue);
  color: var(--white);
}

h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: var(--white);
}

p, li {
  font-size: 18px;
  font-weight: 100;
}

button {
  width: 120px;
  background-color: #3882f6;
  color: var(--white);
  border-radius: 8px;
  padding: 8px 16px;
  margin-top: 20px;
  border: none;
}

/* Nav Bar */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 80vw;
  margin: auto;
  padding-top: 10px;
}

.logo {
  font-size: 24px;
}

ul {
  list-style: none;
  display: flex;
  gap: 30px;
  font-weight: 100;
}

/* Hero */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin: auto;
  padding: 100px 0;
  gap: 50px;
}

.placeholder {
  background-color: rgba(160, 160, 162, 0.661);
  width: 600px;
  height: 230px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.hero-left {
  display: flex;
  flex-direction: column;
  text-align: left;
  max-width: 400px;
  flex-shrink: 0;
}

.hero p {
  color: var(--lightgrey);
  padding-top: 5px;
}

/* Random Info Grid */

.random-info {
  padding-top: 40px;
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-size: 36px;
  font-weight: 900;
}

img {
  border: 3px solid #3882f6;
  border-radius: 15px;
  width: 180px;
  height: 180px;
}

.grid {
  display: flex;
  padding: 60px 0 100px 0;
  gap: 60px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-item p {
  width: 180px;
  padding: 8px;
}

/* Quote Banner */

.quote {
  background-color: var(--lightgrey);
  color: var(--darkblue);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 150px 0;
}

.quote-block {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  max-width: 60vw;
  margin: auto; 
  text-align: justify;
}

.quote-credit {
  font-weight: 700;
  padding: 0 300px 0 0;
}

/* Call to action container */

.action {
  margin: 100px 75px;
}

.container {
  background-color: #3882f6;
  color: var(--white);
  width: 70vw;
  margin: auto;
  padding: 30px 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
}

.container p {
  color: var(--lightgrey);
}

.action-left {
  text-align: left;
}

.white-border {
  border: 2px solid white;
  margin-bottom: 15px;
}

/* Footer */

footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}